.edit-article {
    display: flex;
    gap: 25px;
}

#editor {
    display: flex;
    flex-direction: column;
    width: 595.8px;
    align-self: center;
}
.quill {
    width: 100%;

}
.ql-container {
    /* min-height: 350px; */
}
.buttons {
    margin-top: 25px;
    align-self: flex-end;
    display: flex;
    justify-content: right;
}

