.edit-article {
    display: flex;
    gap: 30px;
}

#editor {
    display: flex;
    flex-direction: column;
    width: 600px;
}
.quill {
    width: 100%;

}
.ql-container {
    max-height: 600px;
    overflow: auto;
}

.ql-container p {
    font-size: 16px;
    padding: 10px 0;
}
.ql-container h2 {
    font-size: 20.45px !important;
    font-weight: 400;
    padding: 10px 0;
}

.buttons {
    margin-top: 15px;
    align-self: flex-end;
    display: flex;
    justify-content: right;
}

