

.edit-article {
    position: relative;
    display: flex;
    gap: 30px;
    height: max-content;
}

#editor {
    display: flex;
    position: relative;
    flex-direction: column;
    max-width: 720px;
}
#editor p.placeholder {
    position: absolute;
    text-align: left;
    top: 70px;
    left: 20px;
    width: 100%;
    font-size: 42px;
    color: rgb(198, 197, 197);
}
.quill {
    width: 100%;
    background-color: white;

}
#toolbar {
    background-color: white;
}
.ql-container {
    max-height: 600px;
    overflow: auto;
    min-height: 300px;

}

.ql-container p {
    font-size: 16px;
    padding: 10px 0;
}
.ql-container h2 {
    font-size: 20.45px !important;
    font-weight: 400;
    padding: 10px 0;
}

.buttons {
    margin-top: 15px;
    align-self: flex-end;
    display: flex;
    justify-content: right;
}

#editor input.chakra-input {
    background-color: white;
    border: 1px solid #ccc;
    height: 30px;
    padding: 0 0.3rem;
}

label.chakra-checkbox.css-1577qb8 {
    margin-top: 1rem;
    margin-left: auto;
}
.cover-image {
    display: flex;
}
.cover-image textarea {
    height: 150px;
    width: 200px;
}

.img-placeholder {
    position: relative;
    height: 150px;
    margin: 15px 0;
    display: flex;
    justify-content: center;
}
.img-placeholder img{
    height: 100%;
}
.cover-image-text {
    padding: 0;
    position: absolute;
    color: lightgrey;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


