.title-block {
  display: flex;
  // position: sticky;
  // height: 100%;
  // top: 105px;
  flex-direction: column;
  max-width: 350px;
    .label {
      text-align: left;
      max-width: max-content;
      position: relative;
      .form-field-select-wrapper {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .blog-title {
      margin: 15px 0 0;
      font-size: 42px;
      text-align: left;
      cursor: pointer;
      textarea {
        overflow: hidden;
        border: 1px solid #ccc;
        border-radius: 10px;
        min-height: 300px;
        width: 100%;
        line-height: 1.25;
        font-family: sans-serif;
        font-weight: bold;
        font-size: 38px;
        padding: 0.3rem 0.3rem;
      }
      textarea::placeholder {
        color: rgb(198, 197, 197);
        font-weight: 400;
        
      }
    }
    .blog-preview {
      margin: 25px 0 45px;
      text-align: left;
      cursor: pointer;
      h2 {
        padding: 0;
      }
      textarea {
        overflow: hidden;
        border: 1px solid #ccc;
        border-radius: 10px;
        min-height: 180px;
        width: 100%;
        font-size: 20.45px;
        padding: 0.3rem 0.3rem;
      }
      textarea::placeholder {
        color: rgb(198, 197, 197);
      }
    }
    .small-title {
      display: flex;
      gap: 15px
    }
    p {
      font-size: 1.2rem;
      padding: 0;
    }
    








}