.post-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.75rem;
}
.title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    h1 {
        font-size: 32px;
    }
    button.chakra-button {
        border-radius: 50px;
        padding: 20px 0;
    }
    
}
@media (max-width: 1000px) {
    .post-list {
        grid-template-columns: repeat(3, 1fr);
        gap: 1.5rem;
    }
}
@media (max-width: 700px) {
    .post-list {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.25rem;

    }
}
@media (max-width: 475px) {
    .post-list {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}