.post {
    display: flex;
    gap: 50px;
    height:fit-content;
    
    .title-block {
        max-width: 430px;
        width: 100%;
        position: sticky;
        top: 150px;
        height: 100%;
        .small-title {
            align-items: end;
            a {
                display: flex;
                color: darkgray;
                text-decoration: none;
            }
        }
    }
    .blog-button {
        text-align: left;
        max-width: max-content;
        display: inline-block;
        padding: 12px 20px 10px;
        border: 1px solid #0b5d51;
        border-radius: 100px;
        color: #0b5d51;
        font-size: 16px;
        line-height: 16px;
        font-weight: 400;
        text-transform: capitalize;
    }
    .blog-title {
        font-size: 45px;
        line-height: 1.2;
        font-weight: 400;
        margin-top: 24px;
        margin-bottom: 24px;
        padding-top: 10px;
        padding-bottom: 50px;
    }
    .blog-post-content {
        max-width: 720px;
        width: 100%;
        text-align: left;
        img {
            width: 100%;
        }
        
        h2 {
            font-weight: bold;
        }
    }
    pre.ql-syntax {
        background-color: black;
        color: white;
        font-size: smaller;
        overflow-x: auto;
    }
}

@media (max-width: 1250px) {
    .post {
        .title-block {
            .blog-title {
                margin-bottom: 12px;
                padding-bottom: 0px;
            }
            h1 {
                font-size: x-large;
            }
            p {
                font-size: medium;
            }
            .small-title {
                flex-direction: column;
                align-items:self-start;
                gap: 0;
                font-size: medium;
            }
        }
    }

}
@media (max-width: 980px) {
    .post {
        .title-block {
            align-items: flex-start;
        }
        .blog-post-content {
            max-width: 560px;
        }
    }
    
}
@media (max-width: 800px) {
    .post {
        flex-direction: column;
        align-items: center;
        .title-block {
            max-width: 720px;
            position:relative;
            top: 0px;
            height: 100%;
            .small-title {
                flex-direction: row;
                align-items: end;
                a {
                    display: flex;
                    color: darkgray;
                    text-decoration: none;
                }
            }
        }
        .blog-title {
            line-height: 1.2;
            margin-top: 12px;
            width: 100%;
            padding-top: 0px;
            h1 {
                width: 80%;
                margin: 0;
            }
        }
        .blog-post-content {
            max-width: 720px;
        }
    }







}