@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;600;700&family=MedievalSharp&family=Poppins&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

main {
  min-height: 80vh;
  padding-top: 50px;
}
p {
  font-size: 16px;
  padding: 10px 0 !important;
}
h2 {
  font-size: 20.45px !important;
  font-weight: 400 !important;
  padding: 10px 0 !important;
}
* {
  font-family: 'Poppins', sans-serif;
}
