@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;400;600;700&family=MedievalSharp&family=Poppins&display=swap');

.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  background-color: #fdfcf8;
}

main {
  min-height: 80vh;
  margin-top: 0px;
  padding: 20px 10px;
  display: flex !important;
  flex-direction: column;
}
section {
  margin-top: 35px;
}
section.edit {
  margin-top: 0px;
}
p {
  font-size: 16px;
  padding: 10px 0;
}
h2 {
  font-size: 20.45px;
  font-weight: 400;
  padding: 10px 0;
}
* {
  font-family: 'Poppins', sans-serif;
}
h1 {
  font-family: sans-serif;
  font-weight: bold;
}

.toast-message {
  display: flex;
  align-items: center;
}
.toast-text span{
  font-weight: 700 !important;
}
.custom-toast-error {
  background: #F7DDDD !important;
  color: #F05D5D !important;
}

.custom-toast-error button {
  color: red;
}
@media (min-width: 520px) {
  

  .Toastify {
      width: auto;
  }
  
  .toastBody {
    min-width: 450px !important;
    padding-left: 75px !important;
    padding-right: 50px !important;
  }

}

@media (max-width: 1000px) {
  section {
    margin-top: 10px;
  }
}